# Diabetes Prediction Neural Network Project
# Tested with Python 3.10

# Deep Learning
torch==2.5.1+cu121
torchvision==0.20.1+cu121

# Data Processing
numpy==2.1.2
pandas==2.3.3

# Machine Learning
scikit-learn==1.7.2

# Visualization
matplotlib==3.10.7

# Jupyter
jupyter==1.1.1
ipykernel==6.29.5